.gallery-item{
    position: relative;
	display: inline-block;
}
.gallery-item:hover .download{
    display: block;
}
.download {
	padding-top: 7px;
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}
/* .download a {
	color: tomato;
} */
.input-group {
    /* display: table; */
    display: block;
}
#group{
display: table;
}
.bk{
    vertical-align:middle;
    padding-left:15%;
    margin-top: 20%;
    /* padding-top:10%; */
    background-image: url('/images/bkk.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    clear: both;
    margin: auto;
    width: 100%;
    marquee:left;
    filter: blur(1px);
    /* background-color: silver; */
    height: 400px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-style: italic;

-webkit-filter: grayscale(70%);
    /* padding-top:  200px; */
}
/* .input-group {
    displa: table;
} */
